@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html{
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 5%;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
}

header {
  margin-bottom: 40vh;
  display: flex;
}

header .left {
  text-align: left;
  flex: 50%;
}

header .left a {
  color: black;
  font-weight: 600;
  text-decoration: underline;
}

header .right {
  text-align: right;
  flex: 50%;
}

header .right a {
  color: black;
  text-decoration: none;
  margin-left: 16px;
}

header a.active {
  text-decoration: underline;
}

header a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1%;
}

main p {
  margin-left: 50.5%;
}

.container100 {
  position: relative;
  flex: 100%;
  margin-bottom: 1%;
}

.container50 {
  position: relative;
  flex: 49.5%;
  margin-bottom: 1%;
}

.containerimg {
  transition: 0.25s;
  max-width: 50%;
  max-height: 80%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerbackground {
  position: relative;
  width: 100%;
  height: 80vh;
  background: black;
}

footer {
  margin-top: 5%;
  display: flex;
}

footer div.left {
  flex: 33.3%;
  text-align: left;
}

footer div.center {
  flex: 33.3%;
  text-align: center;
}

footer div.right {
  flex: 33.3%;
  text-align: right;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .container100,
  .container50 {
    flex: 100%;
  }
  footer p {
    margin-left: 0px;
  }
}
