@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  overflow-x: hidden;
}

html,
body {
  margin: 0px;
  padding: 0px;

  background-color: black;
  font-family: "Open sans", sans-serif;
  font-weight: lighter;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
}

/*Header*/

header {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 45vh;
  display: flex;

  font-size: 1.5rem;
}

header a {
  color: white;
}

header .left {
  text-align: left;
  flex: 50%;
}

header .left a {
  font-weight: bold;
  text-decoration: underline;
}

header .right {
  text-align: right;
  flex: 50%;
}

header .right a {
  text-decoration: none;
  margin-left: 16px;
}

header a.active {
  text-decoration: underline;
}

header a:hover {
  text-decoration: underline;
}

/*Main*/

main {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;

  grid-gap: 1%;
  color: white;
}

main .left {
  flex: 49.5%;
  position: relative;
}

main .left img {
  max-width: 50%;

  margin: 0;
  position: relative;
  top: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .right {
  flex: 49.5%;
  font-size: 1.5rem;
}

main a {
  color: white;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

/*Footer*/

footer {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  padding-bottom: 5%;
  font-size: 1.5rem;
}

footer div.left {
  flex: 33.3%;
  text-align: left;
}

footer div.center {
  flex: 33.3%;
  text-align: center;
}

footer div.right {
  flex: 33.3%;
  text-align: right;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/*Media Querys*/

@media screen and (max-width: 1200px) {
  main .left {
    flex: 100%;
  }

  main .left img{
    max-width: 100%;
  }

  main .right {
    flex: 100%;
  }
}
